body {
	font-family: Comic, Arial;
	background-color: #333;
}

a:link {color:blue;}
a:visited{color:orange;}
a:hover {color:red; text-decoration: none;}
a:active {color:green;}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #456;
	color: white;
	border: 10px solid green;
	margin: 5px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	display: block;
	height: 150px;
}

#sidebar {
	position: relative;
	left: 40px;
	border: 10px solid blue;
	padding-top: 30px;
	float: right;
	margin: 10px;
	background-color: #ggg;
	width: 520px;
	height: 700px;
	font-size: 30px;
}	
