#sidebar
{
    float: left;
	height: 300px;
	width: 100px;
	padding: 15px;
	border: 2px solid orange;
}

#content
{
    float: right;
	height: 300px;
	width: 100px;
	padding: 15px;
	border: 15px dotted yellow;
}